@import '../../../styles/variables';

.btn {
  @include size(30vw, 50px, 30px auto);
  display: block;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  background-color: lightblue;
  color: white;
  cursor: pointer;
}

.disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
