@import '../../../styles/variables';

.container {
  position: relative;
  left: 50px;
  .list {
    list-style: none;
    position: relative;
    margin: 10px;
    .text {
      @include size(200px, $m: 4px);
      @include position(relative, 40px);
      word-break: break-all;
      line-height: 26px;
    }
    .inline {
      display: inline;
    }
    .inlineBlock {
      display: inline-block;
    }
    .input {
      @include size(180px, $m: 4px, $p: 4px);
      @include position(relative, 30px);
      outline: none;
      display: inline-block;
    }
  }
}
